{
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "no-new": 0,
    "import/extensions": 0,
    "import/no-unresolved": [
      "error",
      {
        "ignore": [ 'react' ]
      }
    ],
    "import/prefer-default-export": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0
  }
}
