{
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "no-restricted-syntax": 0
  }
}
